@charset "UTF-8";

body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
}
h1{
    color: chartreuse;
}
h2{
    color: greenyellow;
}
p{
    color:cyan;
    text-align: justify;
}